[Desktop Entry]
Name=Applications
Comment=MaruxOS Application Menu
Exec=jgmenu_run
Icon=start-here
Terminal=false
Type=Application
Categories=System;
