[Desktop Entry]
Name=File Manager
Comment=Midnight Commander File Manager
Exec=xterm -e mc ~ /
Icon=/usr/share/maruxos/icons/marux-file-manager.png
Terminal=false
Type=Application
Categories=System;FileManager;
