[Desktop Entry]
Name=Terminal
Comment=Open Terminal
Exec=xterm
Icon=/usr/share/pixmaps/maruxos/marux-terminal.png
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
StartupNotify=true
StartupWMClass=XTerm
